<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" name="GenProjectConfig">
	<Properties>
		<Property name="logName">./GenProject.log</Property>
		<Property name="logPattern">%d %-5p [%t] %20.30F:%-4L - %m%n</Property>
	</Properties>

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${logPattern}"/>			
		</Console>

		<File name="GenLog" fileName="${logName}" immediateFlush="false" append="false">
			<PatternLayout pattern="${logPattern}"/>			
		</File>

	</Appenders>

	<Loggers>
		<Root level="TRACE">
			<AppenderRef ref="Console" level="DEBUG" />
			<AppenderRef ref="GenLog"  level="DEBUG" />
		</Root>
	</Loggers>
</Configuration>